@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #a3a3a3;
  --chart-1: #ea580c;
  --chart-2: #16a34a;
  --chart-3: #334155;
  --chart-4: #ca8a04;
  --chart-5: #d97706;
  --radius: 0.625rem;
  --sidebar: #fafafa;
  --sidebar-foreground: #171717;
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #262626;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a3a3a3;
}

.dark {
  --background: #171717;
  --foreground: #fafafa;
  --card: #171717;
  --card-foreground: #fafafa;
  --popover: #171717;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #262626;
  --secondary: #404040;
  --secondary-foreground: #fafafa;
  --muted: #404040;
  --muted-foreground: #a3a3a3;
  --accent: #404040;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #ef4444;
  --border: #404040;
  --input: #404040;
  --ring: #525252;
  --chart-1: #6366f1;
  --chart-2: #14b8a6;
  --chart-3: #d97706;
  --chart-4: #a855f7;
  --chart-5: #ec4899;
  --sidebar: #262626;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #6366f1;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #404040;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #404040;
  --sidebar-ring: #525252;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Base typography */
@layer base {
  h1 {
    @apply text-2xl font-medium leading-normal;
  }

  h2 {
    @apply text-xl font-medium leading-normal;
  }

  h3 {
    @apply text-lg font-medium leading-normal;
  }

  h4 {
    @apply text-base font-medium leading-normal;
  }

  p {
    @apply text-base font-normal leading-normal;
  }

  label {
    @apply text-base font-medium leading-normal;
  }

  button {
    @apply text-base font-medium leading-normal;
  }

  input {
    @apply text-base font-normal leading-normal;
  }
}

html {
  font-size: var(--font-size);
}
